* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #1E1E1E;
}

h1 {
  position: absolute;
  width: 464px;
  height: 60px;
  left:40px;
  top: 50px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 60px;
  /* identical to box height */
  
  color: #FFFFFF;

}

.containerErro {
  box-sizing: border-box;

position: absolute;
width: 1200px;
height: 309px;
left: 0px;
top: 84px;

background: #221515;
border: 1px solid #FF7070;
border-radius: 12px;
  
}

.form {
  position: absolute;

  width: 1200px;
  height: 309px;
  left: 70px;
  top: 84px;
  
  background: #202020;
  border-radius: 12px;

}

.container_input{
  position: absolute;
  width: 558px;
  height: 48px;
  left: 32px;
  top: 150px;
  
  background: #353535;
  border-radius: 12px;


}

.container_input2{
  position: absolute;
width: 562px;
height: 48px;
left: 606px;
top: 150px;

background: #353535;
border-radius: 12px;
}

button[type="submit"] {
  position: absolute;
  width: 231px;
  height: 57px;
  left: 937px;
  top: 230px;
  
  background: #36CE7C;
  border-radius: 12px;

  

}

/* .cards {
  max-width: 1200%;
  max-height: 100%;
  margin: auto;
  text-align: left;
} */

.title_favorite{
  position: absolute;
width: 379px;
height: 60px;
left: 100px;
top: 435px;

font-family: 'Poppins';
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 60px;
color: #FFFFFF;
}

.column-blue {
  box-sizing: border-box;

position: absolute;
width: 590px;
height: 258px;
left: 60px;
top: 527px;

background: #5883F0;
border: 4px solid rgba(255, 255, 255, 0.2);
border-radius: 12px; 
}

.column-red{
  box-sizing: border-box;

position: absolute;
width: 590px;
height: 258px;
left: 670px;
top: 527px;

background: #F05858;
border: 4px solid rgba(255, 255, 255, 0.2);
border-radius: 12px;
}

.column-green{
  box-sizing: border-box;

position: absolute;
width: 590px;
height: 258px;
left: 60px;
top: 805px;

background: #58F083;
border: 4px solid rgba(255, 255, 255, 0.2);
border-radius: 12px;
}

.column-pink{
  box-sizing: border-box;

position: absolute;
width: 590px;
height: 258px;
left: 670px;
top: 805px;

background: #F0588F;
border: 4px solid rgba(255, 255, 255, 0.2);
border-radius: 12px;
}

.column-purple{
  box-sizing: border-box;

position: absolute;
width: 590px;
height: 258px;
left: 60px;
top: 1083px;

background: #8958F0;
border: 4px solid rgba(255, 255, 255, 0.2);
border-radius: 12px;
}

.column-orange{
  box-sizing: border-box;

position: absolute;
width: 590px;
height: 258px;
left: 670px;
top: 1083px;

background: #F0B358;
border: 4px solid rgba(255, 255, 255, 0.2);
border-radius: 12px;
}


.card{
  display: grid;
  grid-template-columns: 100px 100px;
  grid-gap: 10px;

}

table tr td {
  width: 150px;
  height:150px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

p {
position: absolute;
width: 419px;
height: 24px;
left: 30px;
top: 320px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #FF7070;

}