@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  display: flex;
}

header {
  position: absolute;
  
  height: 50px;
  width: 100%;
}

form {
  width: 360px;
  
}
.cadastro-header {
  position: relative;
  display: flex;
  
}

.todo  {
  color: #38d39f;
  margin: 30px 0 0 400px;
    align-items: center;
    justify-content: left;
    z-index: 100;
}


.wave {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  z-index: -1;
}

.inverter {
  transform: scaleX(-1);
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(1fr, 2);
  grid-gap: 7rem;
  padding: 0 2rem;
}

.login-content {
  position: fixed;
  display: flex;
  justify-content: left;
  /* align-items: left; */
  text-align: center;
  left: -150px;
  /* z-index: -2; */
} 

.cadastro-img {
  position: relative;
  display: flex;
  right: -800px;
  top: -150;
  /* justify-content: right;
  align-items: right; */
  
}

.img-form {
  width: 300px;
  
}


/* .login-content img {
 
  top: 60px;

  
} */

.login-content h2 {
  top: 50px;
  margin: 80px 0 30px 0;
  color: #38d39f;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: bold;
}

.login-content .input-div {
  position: relative;
  display: grid;
  grid-template-columns: 93% 7%;
  margin: 30px 0 10px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one {
  margin-top: 0px;
}

.input-div > div {
  position: relative;
  height: 10px;
}

.input-div > div > h5 {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 16px;
  transition: 0.3s;
}

.input-div:before,
.input-div:after {
  content: '';
  position: absolute;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #38d39f;
  transition: 0.4s;
}

.input-div:before {
  right: 50%;
}

.input-div:after {
  left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
  width: 50%;
}

.input-div.focus > div > h5 {
  top: -5px;
  font-size: 15px;
  color: #38d39f;
}

.input-div.focus > .i > i {
  color: #38d39f;
}

.input-div > div > input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  color: #555;
  font-family: 'Roboto', sans-serif;;
}

.input-div.pass {
  margin-bottom: 50px;
}

.link {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #999;
  font-size: 1.1rem;
  transition: 0.3s;
}

.link:hover {
  color: #38d39f;
  text-decoration: none;
}

.btn {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  font-family:  'Roboto', sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.5s;
}
.btn:hover {
  background-position: right;
}

