@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
* {
  margin : 0;
  padding: 0;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  /* background-image: url('/globalassets/img/undraw_design_components_9vy6.svg');
  background-repeat: no-repeat;
  background-size: cover; */
    background-color:  #00BFA6;
    min-height: 100vh;
    min-width: 100vw;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    
  }


 

  .main-header {
    display: flex;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    width: 100vw;
    height: 120px;
    margin: auto;
    font-weight: bold; 
    /* margin-bottom: 60px; */
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255,255,255,0.2);
    border-left: 1px solid rgba(255,255,255,0.2);
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2);

  }

 .logo img{
    width: 60px;
    height: 60px;
    position: absolute;
    float: left;
    margin: 10px;
  }

  .title-todo {
    color: #fff;
    font-size: 1rem;
    margin:20px 0;
    left: -50px;
  }

  span {
    font-size: 2.8rem;
    font-weight: bold;
    margin-left: 150px;
  }

.avatar img{
    width: 70px;
    height: 70px;
    /* position: absolute; */
    /* float: right; */
    margin: 5px 20px;

}
  .tarefas {
    font-size: 30px;
    margin-left: 30px;
    display: block;
    width: fit-content;
    padding: .7em 1em;
    /* border-bottom: .2em solid rgb(14, 226, 31); */
    text-decoration: none;
    /* color: rgb(1, 1, 1) */
    border: none;

  }
  
  /* .right-header {
    display: flex;
    align-items: center;
    color: rgb(5, 5, 5);
  } */
  
  #nomeUsuarioEmTarefas {
    width: fit-content;
    opacity: .8;
    margin-right: 15px;
  }

  .right-header{
    display: flex;
    color:#fff;
  }

  .link {
    /* display: block;
    text-align: center; */
    text-decoration: none;
    color: #999;
    font-size: 1.1rem;
    transition: 0.3s;
  }
  
  .link:hover {
    color: #216951;
    text-decoration: none;
  }

  #user-info{
    /* position: absolute; */
    /* float: left; */
    margin-top: 40px;
    margin-left: 380px;
    width: fit-content;
    color: #fff;

  }

  .closeApp {
    margin-left: -70px;
    bottom: -3px;
    font-size: 1.1em;
    color: white;
    font-weight: bold;
    padding: .7em 1em;
    cursor: pointer;
    width: fit-content;
    position: fixed;
    float: bottom;
    z-index: -1;
  }

  .criar-tarefa {
    display: flex;
    flex-direction: column;
    justify-content: right;
    font-size: 1.5rem;
    color: #fff;
    /* background-color: lightcyan; */
    width: 60%;
    margin: 100px 200px 40px 450px;
    padding: 12px 30px 12px 35px;
    border-radius: 5px;
    /* border: 1px solid #29292e; */
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
    /* border-top: 1px solid rgba(255,255,255,0.2);
    border-left: 1px solid rgba(255,255,255,0.2); */
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
   
  }
  

  .criar-tarefa p{
    display: flex;
    padding-bottom: 3px;
    font-weight: bold;
  }

  .main-form {
    font-weight: bold;
    display: flex;
    /* background-color: lightcyan; */
    /* align-items: center; */
    /* width: 100px; */
    /* background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
    /* border-top: 1px solid rgba(255,255,255,0.2);
    border-left: 1px solid rgba(255,255,255,0.2); */
    /* box-shadow: 5px 5px 30px rgba(0,0,0,0.2); */ 

    
  }

  .mf-div {
    font-size: 1.0rem;
    margin-left: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }

  .mf-div p:hover {
    color: #38d39f;
  }

  .mf-div input {
    margin-left: 12px;
  }

  .mf-div p{
    margin-left: 4px;
  }

  #criarTarefa img{
    margin-left: 20px;
    margin-top: -23px;
    width: 50px;
    height: 50px;
    color: #fff;
  }

  #criarTarefa p {
    font-size: .8rem;
    margin-left: 15px;
  }

  .new-task{
    display: flex;
    flex-grow: 1;
    font-size: 1.3rem;
    color: #fff;
    /* background-color: transparent; */
    border: none;
    /* border-bottom: 1px solid black;
    border-radius: 0;
    border-width: 1px; */
    padding-bottom: 3px;
    background-color: #0DC2AB;
  }

  .new-task:focus{
    outline: none;
  }

  .title {
    font-size: 1.5rem;
    /* background-color: lightcyan; */
    color: #fff;
    margin-left: 450px;
    margin-right: 200px;
    margin-bottom: 32px;
    padding: 12px 30px 12px 35px;
    border-radius: 5px;
    margin-top: 80px;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255,255,255,0.2);
    border-left: 1px solid rgba(255,255,255,0.2);
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
  }

  /* .tc {
    display: inline;
    /* width: 70%;
    margin-left: 190px;
  } */

  /* .tp h3 {
    position: relative;
    float: center;
    display: flex;
    justify-content: center;
    /* margin-left: 10px; 
  }

  .tc h3 {
    position: relative;
    float: center;
    display: flex;
    justify-content: center;
    /* margin-left: 10px; 
  } */

  .tpul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    color: #fff;
    /* background-color: lightcyan; */
    margin-left: 490px;
    margin-right: 300px;
    margin-bottom: 12px;
    padding: 12px 30px 5px 35px;
    border-radius: 5px;
    list-style-type: none;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255,255,255,0.2);
    border-left: 1px solid rgba(255,255,255,0.2);
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
    
  }

  .tpRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    /* width: 80%; */
  }

  h2 .title {
    padding-top: 50px;
  }

  .ttul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    color: #fff;
    /* background-color: lightcyan; */
    margin-left: 490px;
    margin-right: 300px;
    margin-bottom: 12px;
    padding: 12px 30px 12px 35px;
    border-radius: 5px;
    list-style-type: none;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255,255,255,0.2);
    border-left: 1px solid rgba(255,255,255,0.2);
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
    
  }
  .img {
    position: fixed;
    z-index: -1;
    bottom: -1px;
  }
  
  .img img {
    width: 500px;
    
  }

  .input-div {
    border-bottom: 2px solid #d9d9d9;
  }

  .input-div > div {
    position: relative;
    height: 45px;
  }

  /* .input-div > div > h5 > li{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
    transition: 0.3s;
  } */
  
  .input-div:before,
  .input-div:after {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #38d39f;
    transition: 0.4s;
  }
  
  .input-div:before {
    right: 50%;
  }
  
  .input-div:after {
    left: 50%;
  }
  
  .input-div.focus:before,
  .input-div.focus:after {
    width: 50%;
  }
  
  .input-div.focus > div > h5 {
    top: -5px;
    font-size: 15px;
  }
  
  .input-div > div > input > li {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
    font-family: 'Roboto', sans-serif;;
  }
  
  .input-div.pass {
    margin-bottom: 10px;
  }
  