.header {
  background-color: #512DA8;
  width: 1920px;
  height: 98px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #FFFFFF;

}